<div class="card col-5" data-active="false" data-title="<%= card.title %>" data-id="<%= card.id %>">
  <img class="card-img-top clickable-card" src="https://i.imgur.com/BqerieU.png"
    alt="Card image cap">
  <p class="card-title"><%= card.title %></p>
</div>